@import '../../variables.scss';

.employee{
    margin: 0.5rem 0;

    h6{
        width: max-content;

        &.blue{
            color: rgb(88, 88, 255);
        }
    }
    
    label{
        margin: 0.5rem 0;
        display: block;
    }
}